.headerContainer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: rgb(213, 232, 240);
}

.headerContainer h1 {
    margin: 0;
}

.logo:hover {
    color: rgb(105, 21, 131);
    cursor: pointer;
}

.emphasis {
    color: rgb(179, 136, 176);
}